.loginBoxWrapper {
    strong { display: none; }

    .signWithGithubButton {
        background: var(--gb-background);
        color: var(--gb-foreground);
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;

        padding: 1rem 2.5rem;

        margin: 0 2rem 2rem 2rem;

        display: flex;
        align-items: center;
        justify-content: center;

        svg { margin-right: 1rem; }

        &:hover { background: var(--gb-background-hover); }
    }
}



/* Desktop */
@media (min-width: 750px) {
    .loginBoxWrapper {
        width: 100%;
        height: 100vh;

        background: var(--lb-background) url(../../../public/banner/banner-girl-transparent.png) no-repeat top center;
        text-align: center;

        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        overflow: hidden;
        z-index: 200;

        &::before {
            content: "";
            width: 56.25rem;
            height: 56.25rem;

            background: var(--lb-background-before);

            position: absolute;

            transform: translate(-60%, -50%);
            -webkit-transform: translate(-60%, -50%);
            -moz-transform: translate(-60%, -50%);
            -ms-transform: translate(-60%, -50%);
            -o-transform: translate(-60%, -50%);
        }

        strong {
            font-size: 2rem;
            line-height: 2.25rem;

            display: block;
        }

        .signWithGithubButton { margin: 2rem 0 2rem; }
    }
}