.messageListWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    // Next Image
    > div {
        margin: 2rem 0;
    }

    .messageList {
        list-style: none;

        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;

        .message {
            max-width: 27.5rem;

            &:nth-child(2) { margin-left: 5rem; }

            .messageContent {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            .messageUser {
                margin-top: 1rem;
                display: flex;
                align-items: center;

                .userImage {
                    background: var(--deg-py);
                    line-height: 0;

                    padding: 0.125rem;

                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    img {
                        width: 1.875rem;
                        height: 1.875rem;

                        border: 0.25rem solid var(--m-border-user-img);

                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }

                span {
                    font-size: 1rem;

                    margin-left: 0.75rem;
                }
            }
        }
    }
}