.messageListWrapper {
    padding: 5rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    .messageList {
        list-style: none;

        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        gap: 2.5rem;

        .message {
            max-width: 27.5rem;

            .messageContent {
                font-size: 1.25rem;
                line-height: 1.75rem;
            }

            .messageUser {
                margin-top: 1rem;

                display: flex;
                align-items: center;

                .userImage {
                    background: var(--ui-bg-deg);
                    line-height: 0;

                    padding: 0.125rem;

                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    img {
                        width: 1.875rem;
                        height: 1.875rem;

                        border: 0.25rem solid var(--ui-border-img);

                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }

                span {
                    font-size: 1rem;

                    margin-left: 0.75rem;
                }
            }
        }
    }
}



/* Desktop */
@media (min-width:  500px) { .messageListWrapper { padding: 5rem 4rem; } }
@media (min-width:  550px) { .messageListWrapper .messageList .message:nth-child(2) { margin-left: 5rem; } }
@media (min-width:  650px) { .messageListWrapper { align-items: center; .messageList .message:nth-child(2) { margin-left: 0; } } }
@media (min-width:  750px) { .messageListWrapper { padding: 5rem 0 5rem 4rem; align-items: initial; .messageList .message:nth-child(2) { margin-left: 5rem; } } }
@media (min-width: 1200px) { .messageListWrapper { padding-left: 9rem; } }